div.flexcontainer {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue; */
}

.flexitem {
  flex-basis: auto;
  flex: auto;
 /*  width: 200px; */
 flex-grow: 0;
/* background-color: green; */
}

/*
li::marker {
    content: '$ sss';
    background-color: blue;
}
 */

li {
	/* background-color: pink; */
	margin-bottom: 13px !important;
}


#buy-buttons-section {
	margin-bottom: 40px;

}
